
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/vendor/
/var/
/node_modules/
.env
/.env.local
/.env.*.local
/public/bundles/
/public/build/
/public/hot
/tests/
/phpunit.xml
/phpunit.xml.dist
/.idea/
/.vscode/
/.DS_Store
/.cache/
/*.log
